.details_page {
  display: none;
  padding: 20px 0px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(233, 211, 134, 0.534)),
    url(../images/background.jpg);

  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 24px 0px;
    min-height: calc(100vh - (66px + 89px));
  }

  @media (min-width: 1024px) {
    padding: 40px 0px;
  }
}

.details-block {
  &__block-img {
    margin: 0 auto;
    padding-bottom: 20px;
    width: 273px;

    @media (min-width: 768px) {
      width: 356px;
      margin-right: 22px;
    }

    @media (min-width: 1024px) {
      width: 433px;
      margin-right: 36px;
    }
  }

  &__info--tech-info {
    margin-bottom: 24px;
    @media (min-width: 1024px) {
      margin-bottom: 50px;
    }
  }

  &__info--about {
    @media (min-width: 768px) {
      margin-bottom: 35px;
    }
  }

  @media (min-width: 768px) {
    display: flex;
  }
  @media (min-width: 1024px) {
  }
}

.block-btn {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin: 0 auto 12px;

  @media (min-width: 768px) {
    margin: 0;
    justify-content: flex-start;
  }
}

.btn {
  width: 150px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position-y: center;
  padding-left: 20px;
  text-align: left;
  outline: none;

  &-addWatch {
    background-image: url(./images/logo-blackCopy.png);
  }

  &-addQueue {
    background-image: url(./images/queue.png);
  }
}

.title-moive {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 12px;
}

.tech-info-item {
  display: flex;
  padding-left: 15px;

  &:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__first-item {
    width: 126px;
    text-align: start;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 25px;
  }

  &__second-item{
    text-align: left;
    width: 180px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 25px;
  }
}

.about-description {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: rgba(55, 44, 72, 0.541);
  text-align: justify;
}

.wrapper-btn-info {
  background-color: #dfdede;
  padding: 10px;

  @media (min-width: 768px) {
    display: flex;
    justify-content: flex-end;
    flex-direction: column-reverse;
    width: 400px;
    padding: 20px;
    height: min-content;
  }
}
