.library-page {
  display: none;
  
  min-height: calc(100vh - (67px + 85px));

  background-image: linear-gradient(
    rgba(233, 211, 134, 0.534),
    rgba(0, 0, 0, 0.4),
    ),
    url(../images/background.jpg);

  @media (min-width: 768px) {
    min-height: calc(100vh - (66px + 89px));
  }
}

.btn-box {
  display: flex;
  justify-content: center;
  padding: 12px 0px;
  box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.23);

  &__action-btn {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 38px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border-bottom: 2px solid #c8c8c8;
    cursor: pointer;

    &:hover {
      background-color: #2e2d2d;
      color: #ffffff;
      border-bottom: 2px solid #2e2d2d;
    }

    &:focus {
      outline: none;
    }
  }
}

.active {
  background-color: #2e2d2d;
  color: #ffffff;
  border-bottom: 2px solid #2e2d2d;
  outline: none;
}

#library-list {
  padding: 14px 0px;

  @media (min-width: 768px) {
    padding: 30px 0px 28px 0px;
  }
}

.films_list-item-rating {
  position: absolute;
  top: 5%;
  right: 2%;
  z-index: 1;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  box-shadow: inset 0px 0px 2.79px 0.21px rgba(0, 0, 0, 0.35),
    inset 0px 0px 2.64px 1.36px rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  padding: 2px 6px 1px 6px;
}

.stub {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (65.6px + 62px + 88px));
  background-color: rgba(152, 148, 161, 0.15);

  @media (min-width: 768px) {
    height: calc(100vh - (66px + 62px + 90px));
  }

  &_text {
    font-family: 'Roboto', sans-serif;
    font-size: 14.4px;
    color: #ffffff;

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}